<div>
  <p class="aligncenter title"><a href="<%- config.root %>"><%= config.title %></a></p>
  <p class="aligncenter subtitle"><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></p>
</div>
<nav id="main-nav" class="aligncenter">
  <ul>
    <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
    <% for (var i in theme.menu_external){ %>
      <li><a href="<%- theme.menu_external[i] %>" target="_blank"><%= i %></a></li>
    <% } %>
  </ul>
</nav>
<div class="clearfix"></div>